.LoaderButton .spinning.glyphicon { 
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite cubic-bezier(0.165, 0.84, 0.44, 1)
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}