.footer {
    margin-top:30px;
    background-color: lightblue;
    min-height: 200px;
    width:100vw;
    margin-bottom: -60px;
}

.colContent {
    margin: 30px auto;
}

.colContent h3 {
    padding: 5px;
}

.colContent ul {
    margin-top: 10px;
    list-style: none;
}

.colContent ul li {
    box-sizing: border-box;
    padding:5px;    
    margin: 10px auto;
}

.link {
    color:darkgray;
    font-size:18px;
}
.link:hover,.link:onfocus {
    text-decoration: none;
    color:slategray;
}

@media(max-width: 767px) {
    .footer {
        position:static;
    }
}