.home .lander {
    padding: 90px 0;
    text-align: center;
    background-color: lightblue;
}

.home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.home .lander h3 {
    color:#999;
    margin-bottom: 30px;
}

.home .submitButton {
    display:inline;
    margin-top:10px;
    width:100px;
}

.home .caption {
    color: lightsalmon;
    font-size: 350%;
    margin-bottom: 40px;
}

@media all and (min-width: 480px) { 
     .home form {
         margin: 0 auto;
         max-width: 320px;
     }
 }
